article {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 100%;
  max-width: 900px;
  margin: 20px auto 20px;
  padding: 20px 60px 50px;
  font-size: 16px;
  color: #333;
  font-family: arial;
  line-height: 30px;
  word-break: break-all;
  border-radius: 15px;
  background: #fafafa;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .25);
  .preview-img {
    float: right;
    width: 300px;
    margin: 10px 0 20px 10px;
    border-radius: 5px;
  }
  h1,
  h2,
  h3 {
    margin: 20px 0 10px;
    padding: 0;
    color: #000;
  }
  h1 {
    position: relative;
    display: inline-block;
    width: 100%;
    font-size: 28px;
    color: #000;
    margin: 30px 0 20px;
    &:before {
      content: attr(data-date);
      position: absolute;
      top: 8px;
      right: 0;
      font-size: 14px;
      color: #777;
    }
    &:after {
      content: '';
      position: absolute;
      top: 42px;
      left: 0;
      width: 100%;
      height: 1px;
      background: url(/img/layout/content_line.gif);
    }
  }
  h2 {
    margin-top: 50px;
    font-size: 22px;
  }
  p,
  blockquote,
  ul,
  ol,
  table {
    margin: 0 0 15px;
  }
  ul,
  ol {
    padding-left: 20px;
  }
  li {
    list-style: disc;
    h3 {
      font-size: 20px;
      margin: 0 0 5px;
    }
  }
  p {
    max-width: 100%;
    a {
      transition: .2s;
      color: #4183C4;
      text-decoration: none;
      word-wrap: break-word;
      word-break: break-all;
      white-space: pre-wrap;
      &:hover {
        color: #37c0ff;
      }
    }
    code {
      background: #f9f2f4;
      padding: 2px 5px;
      margin: 0 5px;
      color: #c7254e;
      font-size: 15px;
      border-radius: 3px;
    }
  }
  img {
    max-width: 100%;
    margin: 0 0 20px 0;
    border-radius: 5px;
  }
  strong{
    font-weight: bold;
    color:#f90;
  }
  em{
    font-weight: bold;
    color:#000;
  }
  pre {
    &.prettyprint {
      box-sizing: border-box;
      margin: 15px 0 30px;
      padding: 20px;
      overflow-x: auto;
      font-size: 16px;
      line-height: 22px;
      border-radius: 6px;
      width: 100%;
    }
    &::-webkit-scrollbar {
      height: 5px;
      background-color: #000;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #888;
    }
  }
  blockquote {
    clear: both;
    padding: 10px 10px 10px 15px;
    margin: 10px 0 30px;
    border-left: 5px solid #ccc;
    background: #f1f1f1;
    p {
      margin: 0;
    }
    ul {
      margin-bottom: 0;
    }
  }
  hr {
    clear: both;
    height: 0px;
    margin: 15px 0;
    padding: 0;
    overflow: hidden;
    border: none;
    border-bottom: 4px solid #ddd;
    background: transparent;
  }
  table th {
    font-weight: bold;
  }
  table th,
  table td {
    padding: 6px 13px;
    border: 1px solid #ccc;
  }
  svg {
    max-width: 100%;
  }
  iframe {
    width: 100%;
    height: 450px;
  }
  @media screen and (max-width: @w2) {
    width: 90%;
    iframe {
      height: 400px;
    }
    h1::before {
      display: none;
    }
  }
  @media (max-width: @w3) {
    padding: 0 20px 50px;
    .article-date {
      display: none;
    }
    iframe {
      height: 260px;
    }
  }
}
